*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #d9dcd6;
}
header {
    padding: 15px;
    font-family: cursive;
    background-color:   hsl(224, 91%, 40%);
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: white ;
}
header nav {
    padding-top: 85px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
}
nav ul{
    list-style-type: none;
    bottom: 10px;
}
nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}
h1{
    background-color: hsl(240, 100%, 0%);
    padding: 15px;
    margin-left: 50px;
    border-radius: 5px;
    

}
.computer {
    height: 300px;
    width: 100%;
    background-image: url(/assets/images/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-picture-image_1250295.jpg);
    background-size: cover; 
}
.navbar-block {
margin: auto;
}
.header-block{
    padding: auto;
    
}
.header-block a{
    text-decoration: none;
color: white;
}
.contact-info{
margin: 10px;
}